<div class="w-full bg-gray-900 text-white">
    <div class="xl:px-40 pb-12 lg:px-20 md:px-10 sm:px-5 px-10">
      <div class="w-full pt-12 flex flex-col sm:flex-row space-y-2 justify-start">
  
        <div class="w-full sm:w-2/5 flex flex-col">
          <img alt="avatar" class="w-30 h-30 border-2 border-gray-900" src="img/logo.png" />
          <br>
  
          
                 
        </div>
  
  
        <div class="w-full px-20 sm:w-2/5 flex flex-col space-y-4">
          
            
            Address: 
            <br>dummy corporate park, 
            <br>random city,
            <br>state, country
            <br>
            <br>
            Telephone:&nbsp;(+91)1dummy789
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(+91)1dummy89
            <br>
            <br>
            Email ID: cosahayak2021@dummy.com 
        </div>
        <div class="w-full sm:w-1/5 flex flex-col space-y-4 text-justify">
          <ul class="flex  text-white text-justify">
            <li class="p-2 cursor-pointer hover:underline"><a href="http://localhost:3000/about_us">About Us</a></li>
          </ul>
          <ul class="flex  text-white text-justify">
            <li class="p-2 cursor-pointer hover:underline"><a href="http://localhost:3000/FAQs">FAQs</a></li>
          </ul>
          <ul class="flex  text-white text-justify">
            <li class="p-2 cursor-pointer hover:underline"><a href="http://localhost:3000/register">Register</a></li>
          </ul>
          <ul class="flex  text-white text-justify">
            <li class="p-2 cursor-pointer hover:underline"><a href="http://localhost:3000/feedback">Feedback</a></li>
          </ul>
        </div>
        
      </div>
      
      <div class="text-white">
        <p>© Copyright 2021. All Rights Reserved.</p>
      </div>
    </div>
  </div>