<div class="flex min-h-10">
  <!-- Nav -->
  <div
    class="flex flex-wrap justify-between w-screen h-20 text-white bg-black md:flex-nowrap"
  >
    
    <div class="z-30 flex items-center h-full pl-3 space-x-3 bg-blue-400">

      <p class="text-2xl text-">App Name Suggest Karo</p>
    </div>
    <!-- MenuButton -->
    <button
      class="z-30 flex items-center justify-end flex-grow pr-3 bg-black focus:outline-none md:hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-8 h-8"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>

    <!-- Menu -->
    <div
      class="flex flex-col items-stretch w-screen text-xl text-center transform bg-blue-400 md:flex-row md:translate-y-0 md:space-x-5 md:items-center md:justify-end md:pr-3"
    >
      <a
        href="http://localhost:3000/"
        class="h-10 leading-10 border-b-2 border-dotted md:border-none hover:underline"
        >Home</a
      >


    </div>
  </div>
</div> 
